<p>
  <b>Numero:</b>
  <%=h @documento.numero %>
</p>

<p>
  <b>Destinat&aacute;rio:</b>
  <%=h @documento.destinatario %>
</p>

<p>
  <b>Assunto:</b>
  <%=h @documento.assunto %>
</p>

<p>
  <b>Corpo:</b>
  <%=h @documento.corpo %>
</p>

<p>
  <b>Despedida:</b>
  <%=h @documento.despedida %>
</p>

<p>
  <b>Remetente:</b>
  <%=h @documento.remetente %>
</p>


<%= link_to 'Editar', edit_documento_path(@documento) %> |
<%= link_to 'Voltar', documentos_path %> |
<%= link_to 'Gerar Documento', gerardocumento_path %>